<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Angular-www</title>
	<link rel="icon" type="image/png" href="/img/angular.svg" />
	<link rel="stylesheet" type="text/css" href="/css/vendor.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/main.min.css" />
</head>
<body ng-app="app">
	<div ng-controller="AppCtrl as ac" ng-cloak layout="column">
		<md-sidenav class="md-sidenav-left" md-component-id="left">

			<md-toolbar class="md-theme-indigo">
				<h1 class="md-toolbar-tools">Меню</h1>
				<md-button ng-click="ac.close()" class="md-icon-button">X</md-button>
			</md-toolbar>
			<md-content layout-padding>
				<nav class="navbar navbar-inverse" role="navigation">
					<div class="navbar-header">
						<a class="navbar-brand" ui-sref="#">Страницы</a>
					</div>
					<ul class="nav navbar-nav">
						<li><a ng-click="ac.close()" ui-sref="registration">Регистрация</a></li>
						<li><a ng-click="ac.close()" ui-sref="login">Войти</a></li>
						<li><a ng-click="ac.close()" ui-sref="profile">Профиль</a></li>
					</ul>
				</nav>
			</md-content>

		</md-sidenav>
		<md-content>
			<md-toolbar class="md-hue-2">
				<div class="md-toolbar-tools">
					<md-button class="md-icon-button" aria-label="Settings" ng-disabled="false" ng-click="ac.open()">
						<md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
					</md-button>

					<h2 flex md-truncate>{{ac.title}}</h2>
				</div>
			</md-toolbar>
		</md-content>
		<main id="main" ui-view></main>
	</div>
	<script type="text/javascript" src="/js/vendor.min.js"></script>
	<script type="text/javascript" src="/js/main.min.js"></script>
</body>
</html>