<md-content layout-padding>
	<form name="projectForm">
		<div layout="row">
			<md-input-container flex="50">
				<label>Имя</label>
				<input required name="clientName" ng-model="project.clientName">
				<div ng-messages="projectForm.clientName.$error">
					<div ng-message="required">Бедненький, как же ты без имени то!? :О</div>
				</div>
			</md-input-container>

			<md-input-container flex="50">
				<label>Фамилия</label>
				<input required name="clientLastname" ng-model="project.clientLastname">
				<div ng-messages="projectForm.clientLastname.$error">
					<div ng-message="required">Бедненький, как же ты без фамилии то!? :О</div>
				</div>
			</md-input-container>
		</div>
		<div layout="row" ng-controller="CountryCtrl as ctrl">
			<md-autocomplete flex="50" class="md-block"
				md-selected-item="ctrl.selectedItem"
				md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
				md-search-text="ctrl.searchText"
				md-selected-item-change="ctrl.selectedItemChange(item)"
				md-items="item in ctrl.querySearch(ctrl.searchText)"
				md-item-text="item.name"
				md-min-length="0"
				placeholder="Введите страну прибывания"
				md-menu-class="autocomplete-custom-template">
				<md-item-template>
					<span class="item-title">
						<span> {{item.name}} </span>
					</span>
				</md-item-template>
			</md-autocomplete>
			<md-autocomplete flex="50" class="md-block"
				md-selected-item="ctrl.selectedItem"
				md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
				md-search-text="ctrl.searchText"
				md-selected-item-change="ctrl.selectedItemChange(item)"
				md-items="item in ctrl.querySearch(ctrl.searchText)"
				md-item-text="item.name"
				md-min-length="0"
				placeholder="Введите город прибывания"
				md-menu-class="autocomplete-custom-template">
				<md-item-template>
					<span class="item-title">
						<span> {{item.name}} </span>
					</span>
				</md-item-template>
			</md-autocomplete>
		</div>


		<div layout="row">
			<md-input-container flex="50" class="md-block">
				<label>Ваш E-mail</label>
				<input required type="email" name="clientEmail" ng-model="project.clientEmail"
					minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />

				<div ng-messages="projectForm.clientEmail.$error" role="alert">
					<div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
						Email ошибочка.
					</div>
				</div>
			</md-input-container>

			<md-input-container flex="50">
				<label>Пол</label>
				<md-select name="type" ng-model="project.type">
					<md-option value="male">Мужской</md-option>
					<md-option value="women">Женский</md-option>
				</md-select>
			</md-input-container>
		</div>
		<md-input-container class="md-block">
			<label>О себе</label>
			<input md-maxlength="30" required md-no-asterisk name="description" ng-model="project.description">
			<div ng-messages="projectForm.description.$error">
				<div ng-message="required">Не забудь и тут заполнить.</div>
				<div ng-message="md-maxlength">Не особо длинный текст :).</div>
			</div>
		</md-input-container>

		<md-input-container class="md-block">
			<md-checkbox name="tos" ng-model="project.tos" required>Я принимаю пользовательское сошлашение.</md-checkbox>
			<div ng-messages="projectForm.tos.$error" multiple md-auto-hide="false">
				<div ng-message="required">Для продолжение необходимо согласие.</div>
			</div>
		</md-input-container>

		<md-input-container class="md-block">
			<md-switch class="md-primary" name="special" ng-model="project.special">
				Доступность анкеты в поисковой выдаче поисковых систем yandex, google etc.
			</md-switch>
		</md-input-container>
		<div>
			<md-button type="submit">Зарегистрироваться</md-button>
		</div>
	</form>
</md-content>
