<md-content layout-padding>
	<form name="loginForm" ng-submit="$ctrl.submit()">
		<md-input-container class="md-block">
			<label>Ваш E-mail</label>
			<input
				required
				type="email"
				name="email"
				ng-model="$ctrl.user.email"
				minlength="10"
				maxlength="100"
				ng-pattern="/^.+@.+\..+$/"
			/>
			<div ng-messages="$ctrl.email.$error" role="alert">
				<div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">Email ошибочка.</div>
			</div>
		</md-input-container>

		<md-input-container class="md-block">
			<label>Пароль</label>
			<input
				required
				type="password"
				name="pass"
				ng-model="$ctrl.user.pass"
				minlength="6"
				maxlength="20"
			/>
			<div ng-messages="$ctrl.pass.$error" role="alert">
				<div ng-message-exp="['required', 'minlength', 'maxlength']">Пароль с ошибкой.</div>
			</div>
		</md-input-container>
		<div>
			<md-button type="submit">Войти</md-button>
		</div>
	</form>
</md-content>